includes:
  - phpstan-baseline.neon

parameters:
    level: max
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false
    paths:
        - src
        - tests/Behat
        - tests/Functional
        - tests/Unit

    excludePaths:
        # Makes PHPStan crash
        - 'src/DependencyInjection/Configuration.php'

        # Test dependencies
        - 'tests/Application/app/**.php'
        - 'tests/Application/src/**.php'
