parameters:
	ignoreErrors:
		-
			message: "#^Short ternary operator is not allowed\\. Use null coalesce operator if applicable or consider using long ternary\\.$#"
			count: 1
			path: src/BabDevSyliusProductSamplesPlugin.php

		-
			message: "#^Method BabDev\\\\SyliusProductSamplesPlugin\\\\Doctrine\\\\ORM\\\\ProductVariantRepository\\:\\:createQueryBuilderByProductId\\(\\) has parameter \\$productId with no type specified\\.$#"
			count: 1
			path: src/Doctrine/ORM/ProductVariantRepository.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Assert\\:\\:isInstanceOf\\(\\) with BabDev\\\\SyliusProductSamplesPlugin\\\\Model\\\\ProductInterface and 'BabDev\\\\\\\\SyliusProductSamplesPlugin\\\\\\\\Model\\\\\\\\ProductInterface' will always evaluate to true\\.$#"
			count: 1
			path: src/EventListener/SampleVariantGeneratorListener.php

		-
			message: "#^Cannot call method getCode\\(\\) on Sylius\\\\Component\\\\Core\\\\Model\\\\ChannelInterface\\|null\\.$#"
			count: 1
			path: src/EventListener/SampleVariantGeneratorListener.php

		-
			message: "#^Parameter \\#2 \\$channel of method BabDev\\\\SyliusProductSamplesPlugin\\\\EventListener\\\\SampleVariantGeneratorListener\\:\\:createChannelPricingForChannel\\(\\) expects Sylius\\\\Component\\\\Core\\\\Model\\\\ChannelInterface\\|null, Sylius\\\\Component\\\\Channel\\\\Model\\\\ChannelInterface given\\.$#"
			count: 1
			path: src/EventListener/SampleVariantGeneratorListener.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Assert\\:\\:isInstanceOf\\(\\) with BabDev\\\\SyliusProductSamplesPlugin\\\\Model\\\\ProductVariantInterface and 'BabDev\\\\\\\\SyliusProductSamplesPlugin\\\\\\\\Model\\\\\\\\ProductVariantInterface' will always evaluate to true\\.$#"
			count: 1
			path: src/Form/EventSubscriber/ManageSampleProductVariantAssignmentsFormSubscriber.php

		-
			message: "#^Cannot call method getData\\(\\) on Symfony\\\\Component\\\\Form\\\\FormInterface\\|null\\.$#"
			count: 1
			path: src/Form/EventSubscriber/ManageSampleProductVariantAssignmentsFormSubscriber.php

		-
			message: "#^Cannot call method getParent\\(\\) on Symfony\\\\Component\\\\Form\\\\FormInterface\\|null\\.$#"
			count: 1
			path: src/Form/EventSubscriber/ManageSampleProductVariantAssignmentsFormSubscriber.php

		-
			message: "#^Cannot call method getSamplesActive\\(\\) on Sylius\\\\Component\\\\Product\\\\Model\\\\ProductInterface\\|null\\.$#"
			count: 1
			path: src/Form/EventSubscriber/ManageSampleProductVariantAssignmentsFormSubscriber.php

		-
			message: "#^Cannot call method removeVariant\\(\\) on Sylius\\\\Component\\\\Product\\\\Model\\\\ProductInterface\\|null\\.$#"
			count: 1
			path: src/Form/EventSubscriber/ManageSampleProductVariantAssignmentsFormSubscriber.php

		-
			message: "#^Only booleans are allowed in a negated boolean, mixed given\\.$#"
			count: 1
			path: src/Form/EventSubscriber/ManageSampleProductVariantAssignmentsFormSubscriber.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Assert\\:\\:isInstanceOf\\(\\) with BabDev\\\\SyliusProductSamplesPlugin\\\\Model\\\\ProductVariantInterface and 'BabDev\\\\\\\\SyliusProductSamplesPlugin\\\\\\\\Model\\\\\\\\ProductVariantInterface' will always evaluate to true\\.$#"
			count: 1
			path: src/Form/EventSubscriber/SynchronizeSampleProductVariantOptionValuesFormSubscriber.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Assert\\:\\:isInstanceOf\\(\\) with BabDev\\\\SyliusProductSamplesPlugin\\\\Model\\\\ProductVariantInterface and 'BabDev\\\\\\\\SyliusProductSamplesPlugin\\\\\\\\Model\\\\\\\\ProductVariantInterface' will always evaluate to true\\.$#"
			count: 1
			path: src/Form/EventSubscriber/SynchronizeSampleProductVariantTranslationsFormSubscriber.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Assert\\:\\:isInstanceOf\\(\\) with BabDev\\\\SyliusProductSamplesPlugin\\\\Model\\\\ChannelInterface and 'BabDev\\\\\\\\SyliusProductSamplesPlugin\\\\\\\\Model\\\\\\\\ChannelInterface' will always evaluate to true\\.$#"
			count: 1
			path: src/Form/Extension/AddToCartTypeExtension.php

		-
			message: "#^Parameter \\#1 \\$variant of method Sylius\\\\Component\\\\Core\\\\Model\\\\OrderItemInterface\\:\\:setVariant\\(\\) expects Sylius\\\\Component\\\\Core\\\\Model\\\\ProductVariantInterface\\|null, Sylius\\\\Component\\\\Product\\\\Model\\\\ProductVariantInterface\\|null given\\.$#"
			count: 1
			path: src/Form/Extension/AddToCartTypeExtension.php

		-
			message: "#^Strict comparison using \\=\\=\\= between 0 and int\\<1, max\\> will always evaluate to false\\.$#"
			count: 1
			path: src/Form/Extension/AddToCartTypeExtension.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Assert\\:\\:isInstanceOf\\(\\) with BabDev\\\\SyliusProductSamplesPlugin\\\\Model\\\\ChannelInterface and 'BabDev\\\\\\\\SyliusProductSamplesPlugin\\\\\\\\Model\\\\\\\\ChannelInterface' will always evaluate to true\\.$#"
			count: 1
			path: src/Form/Extension/CartTypeExtension.php

		-
			message: "#^Strict comparison using \\=\\=\\= between 0 and int\\<1, max\\> will always evaluate to false\\.$#"
			count: 1
			path: src/Form/Extension/CartTypeExtension.php

		-
			message: "#^Call to an undefined method Sylius\\\\Component\\\\Product\\\\Model\\\\ProductVariantInterface\\:\\:setSampleOf\\(\\)\\.$#"
			count: 1
			path: src/Form/Extension/ProductVariantTypeExtension.php

		-
			message: "#^Cannot call method addVariant\\(\\) on Sylius\\\\Component\\\\Product\\\\Model\\\\ProductInterface\\|null\\.$#"
			count: 1
			path: src/Form/Extension/ProductVariantTypeExtension.php

		-
			message: "#^Parameter \\#1 \\$product of method Sylius\\\\Component\\\\Product\\\\Factory\\\\ProductVariantFactoryInterface\\:\\:createForProduct\\(\\) expects Sylius\\\\Component\\\\Product\\\\Model\\\\ProductInterface, Sylius\\\\Component\\\\Product\\\\Model\\\\ProductInterface\\|null given\\.$#"
			count: 1
			path: src/Form/Extension/ProductVariantTypeExtension.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Assert\\:\\:isInstanceOf\\(\\) with BabDev\\\\SyliusProductSamplesPlugin\\\\Model\\\\ChannelInterface and 'BabDev\\\\\\\\SyliusProductSamplesPlugin\\\\\\\\Model\\\\\\\\ChannelInterface' will always evaluate to true\\.$#"
			count: 2
			path: src/Generator/ChannelAwareSampleVariantCodeGenerator.php

		-
			message: "#^Method BabDev\\\\SyliusProductSamplesPlugin\\\\Model\\\\Product\\:\\:getNonSampleVariants\\(\\) should return Doctrine\\\\Common\\\\Collections\\\\Collection\\<\\(int\\|string\\), BabDev\\\\SyliusProductSamplesPlugin\\\\Model\\\\ProductVariantInterface\\> but returns Doctrine\\\\Common\\\\Collections\\\\Collection\\<\\(int\\|string\\), Sylius\\\\Component\\\\Product\\\\Model\\\\ProductVariantInterface\\>\\.$#"
			count: 1
			path: src/Model/Product.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Assert\\:\\:isInstanceOf\\(\\) with BabDev\\\\SyliusProductSamplesPlugin\\\\Model\\\\ProductVariantInterface and 'BabDev\\\\\\\\SyliusProductSamplesPlugin\\\\\\\\Model\\\\\\\\ProductVariantInterface' will always evaluate to true\\.$#"
			count: 1
			path: src/Provider/SampleAwareProductVariantPricesProvider.php

		-
			message: "#^Cannot call method getSamplesActive\\(\\) on Sylius\\\\Component\\\\Product\\\\Model\\\\ProductInterface\\|null\\.$#"
			count: 1
			path: src/Provider/SampleAwareProductVariantPricesProvider.php

		-
			message: "#^PHPDoc tag @var for variable \\$appliedPromotions contains generic class Doctrine\\\\Common\\\\Collections\\\\ArrayCollection but does not specify its types\\: TKey, T$#"
			count: 1
			path: src/Provider/SampleAwareProductVariantPricesProvider.php

		-
			message: "#^Parameter \\#1 \\$productVariant of method Sylius\\\\Component\\\\Core\\\\Calculator\\\\ProductVariantPriceCalculatorInterface\\:\\:calculate\\(\\) expects Sylius\\\\Component\\\\Core\\\\Model\\\\ProductVariantInterface, Sylius\\\\Component\\\\Product\\\\Model\\\\ProductVariantInterface\\|null given\\.$#"
			count: 1
			path: src/Provider/SampleAwareProductVariantPricesProvider.php

		-
			message: "#^Cannot call method getCode\\(\\) on Sylius\\\\Component\\\\Core\\\\Model\\\\ChannelInterface\\|null\\.$#"
			count: 1
			path: tests/Behat/Context/Setup/ProductContext.php

		-
			message: "#^Parameter \\#2 \\$channel of method Tests\\\\BabDev\\\\SyliusProductSamplesPlugin\\\\Behat\\\\Context\\\\Setup\\\\ProductContext\\:\\:createChannelPricingForChannel\\(\\) expects Sylius\\\\Component\\\\Core\\\\Model\\\\ChannelInterface\\|null, Sylius\\\\Component\\\\Channel\\\\Model\\\\ChannelInterface given\\.$#"
			count: 1
			path: tests/Behat/Context/Setup/ProductContext.php

		-
			message: "#^Cannot call method getId\\(\\) on Sylius\\\\Component\\\\Product\\\\Model\\\\ProductInterface\\|null\\.$#"
			count: 2
			path: tests/Behat/Context/Ui/Admin/ManagingProductVariantsContext.php

		-
			message: "#^Method Tests\\\\BabDev\\\\SyliusProductSamplesPlugin\\\\Behat\\\\Page\\\\Admin\\\\Channel\\\\UpdatePage\\:\\:getMaxSamplesPerOrder\\(\\) should return string but returns array\\|bool\\|string\\.$#"
			count: 1
			path: tests/Behat/Page/Admin/Channel/UpdatePage.php

		-
			message: "#^Method Tests\\\\BabDev\\\\SyliusProductSamplesPlugin\\\\Behat\\\\Page\\\\Admin\\\\Channel\\\\UpdatePage\\:\\:getSampleProductCodePrefix\\(\\) should return string but returns array\\|bool\\|string\\.$#"
			count: 1
			path: tests/Behat/Page/Admin/Channel/UpdatePage.php

		-
			message: "#^Method Tests\\\\BabDev\\\\SyliusProductSamplesPlugin\\\\Behat\\\\Page\\\\Admin\\\\Product\\\\UpdateSimpleProductPage\\:\\:getOriginalSamplePriceForChannel\\(\\) should return string but returns array\\|bool\\|string\\.$#"
			count: 1
			path: tests/Behat/Page/Admin/Product/UpdateSimpleProductPage.php

		-
			message: "#^Method Tests\\\\BabDev\\\\SyliusProductSamplesPlugin\\\\Behat\\\\Page\\\\Admin\\\\Product\\\\UpdateSimpleProductPage\\:\\:getSamplePriceForChannel\\(\\) should return string but returns array\\|bool\\|string\\.$#"
			count: 1
			path: tests/Behat/Page/Admin/Product/UpdateSimpleProductPage.php

		-
			message: "#^Method Tests\\\\BabDev\\\\SyliusProductSamplesPlugin\\\\Behat\\\\Page\\\\Admin\\\\ProductVariant\\\\UpdatePage\\:\\:getOriginalSamplePriceForChannel\\(\\) should return string but returns array\\|bool\\|string\\.$#"
			count: 1
			path: tests/Behat/Page/Admin/ProductVariant/UpdatePage.php

		-
			message: "#^Method Tests\\\\BabDev\\\\SyliusProductSamplesPlugin\\\\Behat\\\\Page\\\\Admin\\\\ProductVariant\\\\UpdatePage\\:\\:getSamplePriceForChannel\\(\\) should return string but returns array\\|bool\\|string\\.$#"
			count: 1
			path: tests/Behat/Page/Admin/ProductVariant/UpdatePage.php

