parameters:
	ignoreErrors:
		-
			message: "#^Short ternary operator is not allowed\\. Use null coalesce operator if applicable or consider using long ternary\\.$#"
			count: 1
			path: src/BabDevSyliusProductSamplesPlugin.php

		-
			message: "#^Call to static method Webmozart\\\\Assert\\\\Assert\\:\\:isInstanceOf\\(\\) with BabDev\\\\SyliusProductSamplesPlugin\\\\Model\\\\ProductInterface and 'BabDev\\\\\\\\SyliusProductSamplesPlugin\\\\\\\\Model\\\\\\\\ProductInterface' will always evaluate to true\\.$#"
			count: 1
			path: src/EventListener/SampleVariantGeneratorListener.php

		-
			message: "#^Cannot call method getCode\\(\\) on Sylius\\\\Component\\\\Core\\\\Model\\\\ChannelInterface\\|null\\.$#"
			count: 1
			path: src/EventListener/SampleVariantGeneratorListener.php

		-
			message: "#^Parameter \\#2 \\$channel of method BabDev\\\\SyliusProductSamplesPlugin\\\\EventListener\\\\SampleVariantGeneratorListener\\:\\:createChannelPricingForChannel\\(\\) expects Sylius\\\\Component\\\\Core\\\\Model\\\\ChannelInterface\\|null, Sylius\\\\Component\\\\Channel\\\\Model\\\\ChannelInterface given\\.$#"
			count: 1
			path: src/EventListener/SampleVariantGeneratorListener.php

		-
			message: "#^Call to an undefined method Sylius\\\\Component\\\\Product\\\\Model\\\\ProductVariantInterface\\:\\:setSampleOf\\(\\)\\.$#"
			count: 1
			path: src/Form/Extension/ProductVariantTypeExtension.php

		-
			message: "#^Cannot call method addVariant\\(\\) on Sylius\\\\Component\\\\Product\\\\Model\\\\ProductInterface\\|null\\.$#"
			count: 1
			path: src/Form/Extension/ProductVariantTypeExtension.php

		-
			message: "#^Parameter \\#1 \\$product of method Sylius\\\\Component\\\\Product\\\\Factory\\\\ProductVariantFactoryInterface\\:\\:createForProduct\\(\\) expects Sylius\\\\Component\\\\Product\\\\Model\\\\ProductInterface, Sylius\\\\Component\\\\Product\\\\Model\\\\ProductInterface\\|null given\\.$#"
			count: 1
			path: src/Form/Extension/ProductVariantTypeExtension.php

		-
			message: "#^Cannot call method getData\\(\\) on Symfony\\\\Component\\\\Form\\\\FormInterface\\|null\\.$#"
			count: 2
			path: src/Form/Type/SampleProductVariantType.php

		-
			message: "#^Cannot call method getParent\\(\\) on Symfony\\\\Component\\\\Form\\\\FormInterface\\|null\\.$#"
			count: 1
			path: src/Form/Type/SampleProductVariantType.php

		-
			message: "#^Cannot call method getSamplesActive\\(\\) on Sylius\\\\Component\\\\Product\\\\Model\\\\ProductInterface\\|null\\.$#"
			count: 1
			path: src/Form/Type/SampleProductVariantType.php

		-
			message: "#^Only booleans are allowed in a negated boolean, mixed given\\.$#"
			count: 1
			path: src/Form/Type/SampleProductVariantType.php

		-
			message: "#^Cannot call method getCode\\(\\) on Sylius\\\\Component\\\\Core\\\\Model\\\\ChannelInterface\\|null\\.$#"
			count: 1
			path: tests/Behat/Context/Setup/ProductContext.php

		-
			message: "#^Parameter \\#2 \\$channel of method Tests\\\\BabDev\\\\SyliusProductSamplesPlugin\\\\Behat\\\\Context\\\\Setup\\\\ProductContext\\:\\:createChannelPricingForChannel\\(\\) expects Sylius\\\\Component\\\\Core\\\\Model\\\\ChannelInterface\\|null, Sylius\\\\Component\\\\Channel\\\\Model\\\\ChannelInterface given\\.$#"
			count: 1
			path: tests/Behat/Context/Setup/ProductContext.php

		-
			message: "#^Cannot call method getId\\(\\) on Sylius\\\\Component\\\\Product\\\\Model\\\\ProductInterface\\|null\\.$#"
			count: 2
			path: tests/Behat/Context/Ui/Admin/ManagingProductVariantsContext.php

		-
			message: "#^Method Tests\\\\BabDev\\\\SyliusProductSamplesPlugin\\\\Behat\\\\Page\\\\Admin\\\\Channel\\\\UpdatePage\\:\\:getMaxSamplesPerOrder\\(\\) should return string but returns array\\|bool\\|string\\.$#"
			count: 1
			path: tests/Behat/Page/Admin/Channel/UpdatePage.php

		-
			message: "#^Method Tests\\\\BabDev\\\\SyliusProductSamplesPlugin\\\\Behat\\\\Page\\\\Admin\\\\Product\\\\UpdateSimpleProductPage\\:\\:getOriginalSamplePriceForChannel\\(\\) should return string but returns array\\|bool\\|string\\.$#"
			count: 1
			path: tests/Behat/Page/Admin/Product/UpdateSimpleProductPage.php

		-
			message: "#^Method Tests\\\\BabDev\\\\SyliusProductSamplesPlugin\\\\Behat\\\\Page\\\\Admin\\\\Product\\\\UpdateSimpleProductPage\\:\\:getSamplePriceForChannel\\(\\) should return string but returns array\\|bool\\|string\\.$#"
			count: 1
			path: tests/Behat/Page/Admin/Product/UpdateSimpleProductPage.php

		-
			message: "#^Method Tests\\\\BabDev\\\\SyliusProductSamplesPlugin\\\\Behat\\\\Page\\\\Admin\\\\ProductVariant\\\\UpdatePage\\:\\:getOriginalSamplePriceForChannel\\(\\) should return string but returns array\\|bool\\|string\\.$#"
			count: 1
			path: tests/Behat/Page/Admin/ProductVariant/UpdatePage.php

		-
			message: "#^Method Tests\\\\BabDev\\\\SyliusProductSamplesPlugin\\\\Behat\\\\Page\\\\Admin\\\\ProductVariant\\\\UpdatePage\\:\\:getSamplePriceForChannel\\(\\) should return string but returns array\\|bool\\|string\\.$#"
			count: 1
			path: tests/Behat/Page/Admin/ProductVariant/UpdatePage.php

